
// .background{
//     opacity: 0.2;
// }

// body{
//     background-image: "img/background.jpg";
//     background-repeat: repeat-x;
    
// }

.container {
    max-width: 800px;
    width: 100%;
    margin: 0 auto;

  }

  @media @phone {
    .title {
      width: 100%;
      padding: 0 5%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  .title h1 {
    width: 80%;
    font-family: Lobster;
    font-size: 6rem;
    color: white;
  }

.aboutUs header {
    margin: 5% 0;
    padding: 10px;
    width: 100%;
    background:#186681;
    
  }
  .aboutUs header div {
    margin: 0 10%;
  }
  .aboutUs header h2 {
    color: white;
    font-family: Lobster;
    font-size: 5.5rem;
  }
  @media (max-width: 350px) {
    .aboutUs header h2 {
      text-align: center;
    }
  }
  .aboutUs header p {
    color: white;
  }
  @media (max-width: 350px) {
    .aboutUs header p {
      text-align: center;
    }
  }
  .aboutUs .teamMember {
    width: 90%;
    margin: 5%;
  }
  .aboutUs .teamMember .info {
    width: 100%;
    text-align: center;
    padding: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  @media @phone {
    .aboutUs .teamMember .info {
      flex-direction: column;
    }
  }
  .aboutUs .teamMember .info img {
    width: 30%;
    margin: 0 3%;
    border-radius: 150px;
  }
  @media @phone {
    .aboutUs .teamMember .info img {
      width: 80%;
      margin-bottom: 5%;
    }
  }
  .aboutUs .teamMember .info .text {
    width: 45%;
    margin: 0 3%;
    color: black;
  }
  @media @phone {
    .aboutUs .teamMember .info .text {
      width: 75%;
    }
  }
  .aboutUs .teamMember .info .text h2 {
    color: #23293b;
  }
  .aboutUs .teamMember .info .text a {
    color: black;
  }
  .aboutUs .teamMember2 {
    width: 90%;
    margin: 5%;
  }
  .aboutUs .teamMember2 .info {
    width: 100%;
    text-align: center;
    padding: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  @media @phone {
    .aboutUs .teamMember2 .info {
      flex-direction: column-reverse;
    }
  }
  .aboutUs .teamMember2 .info img {
    width: 30%;
    margin: 0 3%;
    border-radius: 150px;
  }
  @media @phone {
    .aboutUs .teamMember2 .info img {
      width: 80%;
      margin-bottom: 5%;
    }
  }
  .aboutUs .teamMember2 .info .text {
    width: 45%;
    margin: 0 3%;
    color: black;
  }
  @media @phone {
    .aboutUs .teamMember2 .info .text {
      width: 75%;
    }
  }
  .aboutUs .teamMember2 .info .text h2 {
    color: #23293B;
  }
  .aboutUs .teamMember2 .info .text a {
    color: black;
  }